<mat-toolbar>
    <h1>（仅用测试，请勿外传）</h1>
</mat-toolbar>
<div>
    <mat-card color="primary" style="margin: 10px">
        <mat-card-title>操作区域</mat-card-title>
        <mat-card-content>
            <mat-form-field style="width: 100%">
                <input matInput color="primary" placeholder="输入小说全名进行搜索" [(ngModel)]="keyword"
                       (keyup.enter)="search()">
                <button mat-button matSuffix color="primary" (click)="search()">搜索</button>
                <mat-hint>输入全名搜索更精准，如果有多本书名字相同，可以额外追加作者名</mat-hint>
            </mat-form-field>
        </mat-card-content>
    </mat-card>
    <mat-card color="primary" style="margin: 10px">
        <mat-card-title>当前进度</mat-card-title>
        <mat-card-content>
            <mat-chip-list multiple>
                <mat-chip [selected]="step >= 1">Step1: 寻找候选源列表</mat-chip>
                <mat-chip [selected]="step >= 2">Step2: 依据章节列表过滤源</mat-chip>
                <mat-chip [selected]="step >= 3">Step3: 依据文本内容过滤源</mat-chip>
                <mat-chip [selected]="step >= 4">Step4: 搜索完成，提取信息成为书籍</mat-chip>
            </mat-chip-list>
        </mat-card-content>
        <mat-card-footer>
            <mat-progress-bar mode="determinate" value="100" *ngIf="step === 0 || step === 4"></mat-progress-bar>
            <mat-progress-bar mode="indeterminate" *ngIf="step > 0 && step < 4"></mat-progress-bar>
        </mat-card-footer>
    </mat-card>

    <mat-card style="margin: 10px">
        <mat-card-title> Step 1: 搜索结果</mat-card-title>
        <mat-card-content *ngIf="step >= 1">
            <mat-grid-list cols="4" rowHeight="60px">
                <mat-grid-tile *ngFor="let result of searchResults, let i = index">
                    <button mat-button
                            matTooltip="{{result.title + ' @ ' + result.engine}}"
                            (click)="open(result.url)"
                    >{{result.url}}</button>
                </mat-grid-tile>
            </mat-grid-list>
        </mat-card-content>
    </mat-card>

    <mat-card style="margin: 10px">
        <mat-card-title>Step 2: 按章节过滤结果</mat-card-title>
        <mat-card-content *ngIf="step >= 2">
            <div *ngFor="let group of bookGroups" style="margin-top: 10px">
                <span *ngIf="group == bestGroup"><b>=></b></span>
                本分组共{{group.length}}个链接：
                <mat-grid-list cols="4" rowHeight="30px">
                    <mat-grid-tile *ngFor="let book of group, let i = index">
                        <button mat-button
                                matTooltip="{{book.sources[0].url}}"
                                (click)="open(book.sources[0].url)"
                        >{{book.sources[0].url}}</button>
                    </mat-grid-tile>
                </mat-grid-list>
            </div>
        </mat-card-content>
    </mat-card>

    <mat-card style="margin: 10px">
        <mat-card-title>Step 3: 按内容过滤结果</mat-card-title>
        <mat-card-content *ngIf="step >= 3">
            <mat-grid-list cols="2" rowHeight="30px">
                <mat-grid-tile *ngFor="let b of bestGroup, let i = index">
                    <button mat-button
                            matTooltip="{{b.sources[0].url}}"
                            color="{{book && book.sources.indexOf(b.sources[0]) != -1 ? 'primary' : 'warn'}}"
                            (click)="open(b.sources[0].url)"
                    >{{b.sources[0].url}}</button>
                </mat-grid-tile>
            </mat-grid-list>
        </mat-card-content>
    </mat-card>

    <mat-card style="margin: 10px">
        <mat-card-title>Step 4: 合并成为书籍</mat-card-title>
        <mat-card-content *ngIf="book && step >= 4">
            <div style="display: flex;flex-direction: row;">
                <div><img style="max-width: 200px; padding: 10px" src="{{book.information.cover}}" alt="封面"></div>
                <div>
                    <h4>书名：{{book.title}}</h4>
                    <div>作者：{{book.author}}</div>
                    <div>分类：{{book.information.category}}</div>
                    <p>描述：{{book.information.description}}</p>
                    <button mat-button color="primary" (click)="download()">导出到TXT</button>
                    <div>{{log}}</div>
                </div>
                <div>
                    源列表：
                    <div *ngFor="let source of book.sources">
                        <button mat-button
                                matTooltip="{{book.sources[0].url}}"
                                (click)="open(source.url)"
                        >{{source.url}}</button>
                    </div>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
    <mat-card style="margin: 10px">
        <mat-card-title>目录及内容</mat-card-title>
        <mat-card-content *ngIf="book && step >= 4">
            <div style="display: flex;flex-direction: row">
                <cdk-virtual-scroll-viewport itemSize="40" minBufferPx="600" maxBufferPx="1200"
                                             style="min-width: 300px; height: 800px;">
                    <div *cdkVirtualFor="let item of book.sources[0].chapters;let i = index" style="height: 40px">
                        <button mat-button (click)="showLines(i)">{{item.title}}</button>
                    </div>
                </cdk-virtual-scroll-viewport>
                <div style="flex-grow: 1; max-height: 800px;height: 800px; overflow: scroll; text-align: justify;padding: 10px 20px;">
                    <p style="" *ngFor="let line of lines">{{line}}</p>
                </div>
                <div style="min-width: 80px">
                    内容来源：
                    <mat-list>
                        <div mat-list-item *ngFor="let originUrl of originUrls; let i = index">
                            <button mat-button (click)="open(originUrl)">源{{i + 1}}</button>
                        </div>
                    </mat-list>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>

<button mat-fab color="primary" style="position:fixed;right: 20px;bottom: 20px" (click)="exportInformation()"
        matTooltip="点击导出运行日志">
    <mat-icon>save</mat-icon>
</button>

